@import "variables.scss";

.errors {
  display: flex;
  flex-direction: column;

  .error {
    margin: 1em 0;
    border-radius: 5px;
    border: 3px solid #333;
    width: 100%;
    box-sizing: border-box;
    background-color: $warning;
    padding: 0.3em 0.5em;
    color: $white;
    font-size: 16pt;
    cursor: pointer;
  }
}
